.mat-column-ranking {
  width: 1em;
}

.mat-column-name {
}

.mat-column-crash {
  width: 1em;
}
.mat-column-ranking,
.mat-column-score ,
.mat-column-videoPersonalBest {
    text-align: right;
}
.proofCell{
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  span{
    min-width: 4em;
  }
}
.mat-column-style {
}

.mat-column-proofType {
}

.mat-column-vidPB {
}
// .mat-footer-row,
// .mat-header-row,
// .mat-row {
//     display: inline-flex;
//     min-width: 100%;
// }