<h2 mat-dialog-title>{{ data.proofType }}</h2>
<mat-dialog-content>
  <div>{{ data.linkLable }}:</div>
  @if ( ['www.youtube.com', 'youtu.be'].includes(hostname) ) {
  <app-embedded-youtube [data]="data" />
  }@else if ('www.twitch.tv'==hostname) {
  <app-embedded-twitch [data]="data" />
  } @else if ( [ 'cdn.discordapp.com', 'media.discordapp.net', 'discord.com',
  ].includes(hostname)) {
  <app-embedded-discord [data]="data" />
  }@else {
  <p>
    @if (data.link) { 
    <a mat-flat-button [href]="data.link">{{ data.linkLable }}</a>
    }@else { No link was provided. }
  </p>
  }
  <app-pseudo-summary [summary]="getSummary()" />
</mat-dialog-content>
