<h2 mat-dialog-title>{{ data.proofType }}</h2>
<mat-dialog-content>
  <div>{{ data.linkLable }}:</div>
  @switch (type) { 
    @case (DisplayProof.DiscordImage) {
      <app-embedded-image [data]="data" />
    } 
    @case (DisplayProof.GenericImage) {
      <app-embedded-image [data]="data" />
    } 
    @case (DisplayProof.Youtube) {
      <app-embedded-youtube [data]="data" />
    } 
    @default {
      <p>
        @if (data.link) { Direct Link:
        <a [href]="data.link">{{ data.linkLable }}</a>
        }@else { No link was provided. }
      </p>
    } 
  }
<app-pseudo-summary [summary]="getSummary()"/>
</mat-dialog-content>
