
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$light-theme: matx.define-theme();
$dark-theme: matx.define-theme((
  color: (
    theme-type: dark
  )
));

html {
  @include mat.all-component-themes($dark-theme);
}

body[data-theme="light"] {
  @include mat.all-component-colors($light-theme);
}

//fixes bug that causes slide handle to move out of bounds to the right. Please confirm when updating that this is still
.mdc-switch--selected .mdc-switch__handle-track {
  transform: translateX(0%) !important;
}
body{
  --mat-dialog-container-min-width:60vw;
}